
.navbar{
    background: #BE4040;

    margin: 0px;
    height: inherit;
    width: 200dvb;
    font-family: Lucida Handwriting;
font-size: 28px;
font-style: italic;
font-weight: 400;

letter-spacing: 0em;
text-align: center;

  }
  .nav1 {
    list-style-type: none;
    background-color: #CA5252C7;
    padding: 0px;
    color: #fff;
    margin: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav1 h1{
  top:10px;
 position: relative;
 display: flex;
    justify-content: center;
    bottom: 10px;
  }
  .right{

    height: 46px;
  display: flex;
  top:20px;
  position: relative;
  }
  .left{
      height: 46px;
    display: flex;
    top:20px;
    position: relative;
    
  }
  .navbar div{
    
    margin: 0px;
  }
  .Home h1{
   font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    }
    .log{
      background-color : hsl(0, 50%, 50%);
      width: 60px;
      height: 25px;
      border-radius: 10px;
      border: none;
      color: #FFFFBA;
      font-family: Lucida Handwriting;
    }
  .navbar ul{
    list-style-type: none;
    background-color : hsl(0, 50%, 50%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a{
    color: hsl(60, 70%, 86%);
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: hsl(0, 25%, 50%) ;
  }
  .navbar li{
    float: left;
    color: #FFFFBA;
  }
  
  .nav2{
    color: hsl(0, 50%, 50%);
    background-color :  #fff;
    margin: 0px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Lucida Handwriting;
  font-size: 35px;
border-bottom: 1px solid black;
text-align: center;
  }
  .navbar2 div{
    
    margin: 0px;
  }
  .icons{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    margin-right: 20px;
  }
  .icon2{
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    gap: 7px;
    align-items: center;
  }
  .icon2 input{
    border-radius: 3px;
    border:1px solid black;
    height: 30px;
  }
  .navbar2 ul{
    list-style-type: none;
    background-color :  #FFFFBA;
    padding: 1px;
    margin: 1px;
    overflow: hidden;
  }
  .navbar2 a{
    color: hsl(60, 70%, 86%);
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar2 a:hover{
    background-color: hsl(0, 25%, 50%) ;
  }
  .navbar2 li{
    float: left;
    color: hsl(0, 25%, 50%);
  }
  
  .ProductList button{
  
    background-color:  hsl(0, 25%, 50%);
    color: white;
    font-size: 55dvb;
    width: 55dvb;
    text-align: center;
    cursor: pointer;
    border-radius: 0dvb;
    padding: 0dvb;
    user-select: none;
    width: 11px; 
  }
@media(min-width:320px) and (max-width:425px){
  .nav1 h1{
     top:0;
     position: relative;
      display: flex;
     font-size: 22px;
      justify-content: center;
    }
    .nav2 p{
      font-size: 22px;
      margin-top: 10px;
    }
    .Home h1{
    font-size: 19px;
    }
    .nav1{
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}