.ProductList{
    padding: 70px 0;
    height: inherit;
    margin: auto;
    margin-top: 5dvb;
    margin-right: 10dvb;
    margin-left: 10dvb;
    align-items: center;
    
}
.row{
    gap:8px;
}
.ProductList h3{
  
    color: #BE4040;
    padding: 2dvb;
    font-family: Lucida Handwriting;
font-size: 30px;
font-style: italic;
margin-top: 9px;
letter-spacing: 0em;
text-align: left;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}