*{
    margin:0;
    padding: 0;
}

.container2 p{
    display: flex;
    margin-left: 18px;
    margin-top: 37px;
    font-size: 19px;

}
.container2 h1{
    margin-top: 55px;
    text-align: center;
}
.Buttons{
    margin-top: 40px;
    display: flex;
gap:5px;
   justify-content: center;
}
.input-fieldd{
    display: flex;
    flex-direction:row;
    align-items: stretch;
    gap:19px;
    margin-left: 8px;
    justify-content: flex-start;
    align-items: center;
}
.input-widthh{
    width: 80%;
}
.input-fieldd label{
    width: 100px;
}
.error-message{
    color: red;
}
.boxes{
    box-sizing: border-box;
    border: 1px solid #BE4040;
    width:300px;
    margin-left: 59px;
    margin-right: 9px;
    border-radius:20px;
    background-color:#CA52520F;
}
.pp{
    border-bottom: 1px solid #BE4040;
}
.pp p{
    margin-bottom: 15px;
}

.alll{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: baseline;
    margin-left: 10px;
}
.Buttons button{
    width: 150px;
    background-color: #BE4040;
    border: 1px solid white;
    border-radius: 12px;
    justify-content: center;
    height: 44px;
    color: #fff;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; 
    cursor: pointer;
    transition: 0.5s;
}
@media (max-width: 2500px) and (min-width: 500px) {
    .Buttons{
        margin-top: 40px;
        display: flex;
        gap:200px;
       justify-content: center;
    }
   .Buttons button{margin-left: 40px;}
    .boxes{
        box-sizing: border-box;
        border: 1px solid #BE4040;
        width:300px;
        margin-left: 153px;
        border-radius:20px;
        background-color:#CA52520F;
    }
}