
.Details3{
    margin: 90px auto;
    box-shadow: 0 0 0.5px ;
    color: #BE4040;
    max-width: 1379px;
        background-color:rgb(255, 251, 236);
        font-family: Lucida Handwriting;
}

.details3{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
    
}

.img-product2{
    
    background-color:rgb(255, 251, 236);
    overflow: hidden;
    margin-left: 10px;
    width: 100%;
    max-width: 600px;
}
.img-product2 img{
    max-height: 600px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  border-radius: 10px;
  border-bottom: 1;
}
.box2{
    max-width: 610px;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background-color:rgb(255, 251, 236);
}
.box2 h5{
    font-size: 20px;
    color: #cc7777;
}
.dis2{
    
    background-color: rgb(255, 251, 236);
    margin: 30px 0;
    font-size: 18px;
   
    
    
}

.row2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}
 .row2 h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:20px ;
    margin-top: 30px;
}



.add-card2 .ato{
   
    width: 256px;
    background-color: #BE4040;
    border: 1px solid white;
    border-radius: 12px;
    outline: none;
    height: 44px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
     
    cursor: pointer;
    transition: 0.5s;
}
.add-card2 .bto{
    
    width: 256px;
    background-color:  #fff;
    border: 1px solid #BE4040;
    border-radius: 12px;
    outline: none;
    height: 44px;
    color: #BE4040;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
     
    cursor: pointer;
    transition: 0.5s;
}
.thumb2{
width: 100%;
height: 40px;
display: flex;
width: 112px;
background-color:  #fff;
border: 1px solid #BE4040;
border-radius: 6px;
outline: none;
color: #BE4040;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 10px;
cursor: pointer;
transition: 0.5s;
margin-left: 5px;
}
.countb{
    margin-top: 10px;
}

   .bmax{
    font-size: 30px;
    width: 50px;
    height: 30px;
    background-color:  #fff;
    border: 0px solid #BE4040;
    border-radius: 12px;
    outline: none;
    color: #BE4040;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.5s;
   }

   .bmin{
    font-size: 30px;
    width: 46px;
    height: 30px;
    background-color:  #fff;
    border: 0px solid #BE4040;
    border-radius: 12px;
    outline: none;
    color: #BE4040;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.5s;
   }


@media (max-width:1200px) and (min-width:320px) {
    .Details3{
        margin: 90px auto;
        height: 790px;
        box-shadow: 0 0 0.5px ;
        color: #BE4040;
        max-width: 1379px;
            background-color:rgb(255, 251, 236);
            font-family: Lucida Handwriting;
    }
    .box2{
        max-width: 610px;
        max-height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color:rgb(255, 251, 236);;
        
    }
    .dis2{
    
        background-color: rgb(255, 251, 236);
        margin: 30px 0;
        font-size: 18px;
        text-align: center;
        
        
    }
    .row2{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
       
    }
     .row2 h2{
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size:20px ;
        text-align: center;
        margin-top: 62px;
    }
}


