.menu{
  flex:1;
}
.text{
  font-size:20px;
  color: white;
  display: flex;
  align-content: flex-start;
}
.Search-box{
  width:40%;
  height: 40%;
  margin-left:20px ;
  margin: 0;
}
.search{
  background-color: #BE4040;
  display: flex;
  height: 40px;
}
.input{
  height: 30px;
  border:1px solid #fff;
  border-radius: 12px;
  display: flex;
  margin: 0;
  position: relative;
  align-content: flex-end;
}