.leftArrowStyles{
    position: relative;
    top:25vh;
    margin-left: 60px;
    margin-right: 10px;
    width: 40px;
}
.RightArowStyles{
    position: relative;
    top:25vh;
    margin-right: 60px;
    margin-left: 10px;
    width: 40px;
}