.featured{
    width: 93%;
    display: flex;
    gap: 4px;
    margin-top: 60px;
    /* flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; */
}
.featuredItem{
    flex :1;
    margin: 0px 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 15px -10px rgba(0,0,0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.featuredTitle{
    font-size: 20px;
    margin: 12px;
}
.featuredMoneyContainer{
    margin: 0px 10px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
    /* margin: 12px; */
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color:green;
}
.featuredIcon.negative{
    color: red;
}
.featuredSub{
    margin: 12px;
    font-size: 15px;
    color: gray;
}